[Unit]
Description=A distribution of the OpenTelemetry Collector with Kafka receiver and exporter
After=network.target

[Service]
EnvironmentFile=/etc/otelcol-kafka/otelcol-kafka.conf
ExecStart=/usr/bin/otelcol-kafka $OTELCOL_OPTIONS
KillMode=mixed
Restart=on-failure
Type=simple
User=otelcol-kafka
Group=otelcol-kafka

[Install]
WantedBy=multi-user.target
